ul {
  list-style-type: none;
  padding-left: 0;
}

.persons li {
  margin: 5px;
  padding: 0;
}

.persons img {
  height: 68px;
  width: 45px;
}

li .personName {
  font-weight: bold;
  width: 130px;
}

li .job {
  width: 130px;
}

a {
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }

  h4 {
    color: #000000;
    margin-bottom: 0;

    &:hover {
      color: #9d9d9d;
    }
  }
}

hr {
  margin: 0;
  border-top-color: #000000;
}
