.thumbnail {
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 390px;
}

.overlay {
    display: none;
}

.overlay i.fa {
    color: #ececec;
    font-size: 60px;
}

.thumbnail:hover .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border: 5px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 154px 12px 12px 12px;
    font-size: 20px;
}

img {
    vertical-align: top;
}