<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard"><img style="height: 20px;" [src]="'app/images/binge.jpg'"></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/recommendations" routerLinkActive="active">Recommendations</a></li>
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="/series" routerLinkActive="active">Series</a></li>
      <li><a routerLink="/persons" routerLinkActive="active">Persons</a></li>
      <li><a routerLink="/games" routerLinkActive="active">Games</a></li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top: 60px;">
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
